<%# Copyright 2019, Ryan Sise

This file is part of Podcast Interview Manager.

Podcast Interview Manager is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Podcast Interview Manager is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Podcast Interview Manager.  If not, see <https://www.gnu.org/licenses/>. %>

<h1>Interview for <%="#{@show.title}"%></h1><br>
<br>
<%=link_to 'Return Home', host_path(@host)%><br>
<br>
<%=render 'int-info'%>
<br>
<br>
<%=link_to 'Delete Interview', host_show_interview_path(@host, @show, @interview), :data => {confirm: 'Are you sure?'}, :method => :delete%>